.difficulty {
  margin: 10px;

  button {
    margin: 2px;
    padding: 5px 30px;
  }
}

.board {
  min-height: 500px;
  width: 400px;
  background-color: lightgray;
  border: 10px outset;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  .scoreboard {
    width: 90%;
    height: 90px;
    border: 6px inset;
    margin: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    .score {
      width: 80px;
      height: 55px;
      background-color: black;
      border: 2px inset;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &.flagNum {
        font-size: 200%;
      }

      .led {
        position: relative;
        width: 32%;
        height: 100%;
      }

      .bit {
        position: absolute;
        background-color: #780404;

        &:nth-child(1) {
          top: 4%;
          left: 10%;
          width: 20px;
          height: 7px;
          clip-path: polygon(0 0, 100% 0, 73% 100%, 27% 100%);
        }
        &:nth-child(2) {
          top: 42%;
          left: 10%;
          width: 20px;
          height: 7px;
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        }
        &:nth-child(3) {
          bottom: 4%;
          left: 10%;
          width: 20px;
          height: 7px;
          clip-path: polygon(27% 0%, 73% 0%, 100% 100%, 0% 100%);
        }
        &:nth-child(4) {
          top: 21%;
          left: -20%;
          width: 20px;
          height: 7px;
          transform: rotate(90deg);
          clip-path: polygon(27% 0%, 73% 0%, 100% 100%, 0% 100%);
        }
        &:nth-child(5) {
          top: 64%;
          left: -20%;
          width: 20px;
          height: 7px;
          transform: rotate(90deg);
          clip-path: polygon(27% 0%, 73% 0%, 100% 100%, 0% 100%);
        }
        &:nth-child(6) {
          top: 21%;
          left: 38%;
          width: 20px;
          height: 7px;
          transform: rotate(-90deg);
          clip-path: polygon(27% 0%, 73% 0%, 100% 100%, 0% 100%);
        }
        &:nth-child(7) {
          top: 64%;
          left: 38%;
          width: 20px;
          height: 7px;
          transform: rotate(-90deg);
          clip-path: polygon(27% 0%, 73% 0%, 100% 100%, 0% 100%);
        }
      }
    }

    .resetBtn {
      height: 50px;
      width: 50px;
      border: 5px outset;
      background: url('~/assets/images/icons.png') no-repeat;
      background-position: -462px center;
      background-size: auto 105%;

      &:active {
        border: 5px inset;
        background-position: -461px 1px;
      }
    }
  }

  .cells {
    width: 90%;
    height: auto;
    border: 6px inset;

    position: relative;

    display: flex;
    flex-wrap: wrap;

    .cell {
      width: 33px;
      height: 33px;
      border: 3px outset;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;

      &:active {
        border: none;
        background-color: #d1cece;
      }

      &.clicked {
        border: 1px solid #545353;
        background-color: #b3b1b1;
      }

      .cellImg {
        height: 100%;
        width: 100%;
        background: url('~/assets/images/icons.png') no-repeat;
        background-position-x: 0px;
      }
    }
  }
}
